.ContentList {
  display: flex;
}

.CardMode {
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.Item {
  font-size: 14px;
  border: 1px solid rgb(229, 230, 235);
  border-radius: 2px;
  position: relative;
  background: #fff;
  box-shadow: 2px 4px 10px rgb(242, 243, 245);
  transition: all 0.2s ease-in-out;
  margin: 8px 0 ;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.02);
  }
}

.CardInner {
  padding: 4px;

  .CardBody {
    .CardMeta {
      
      .CardMetaTitle {
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .CardMetaDescription {
        margin-top: 4px;
        font-size: 14px;
        color: rgb(78, 89, 105);
      }

      .CardMetaFooter {
        display: flex;
        justify-content: space-between;

        .Operations {
          display: flex;
          
          .OperationsBtn {
            width: 20px;
            height: 20px;
            // padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            transition: background-color 0.2s ease-in-out;
            border-radius: 50%;

            &:hover {
              background-color: rgb(242, 243, 245);
            }
          }
        }
      }
    }
  }
}